.author {
    color: #C39F59;
}

header a.author:link {
    color: #C39F59;
}

header a.author:visited {
    color: #C39F59;
}

header a.author:hover {
    color: #C39F59;
}

header a.author:active {
    color: #C39F59;
}

.date {
    color: #869D38;
}

header .logo-main {
    height: 250px;
}

header .logo-main img {
    width: 250px;
}

header .logo-guide {
    height: 150px;
}

header .logo-guide img {
    width: 150px;
}